/*
 * Basic footer design
 */

footer {
  display: block;
  position: relative;
  width: 100%;

  background-color: #303030;
  color: white;
}

.footer-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.row-sections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 20px 100px;
}

.section > h4 {
  font-size: 1.2em;
  font-weight: 100;
  margin: 10px 0;

  text-transform: uppercase;
}

.section > a {
  display: inline;
  position: relative;
  font-size: 0.9em;
}
