/*
 * Basics
 */

body, html {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  margin: 0;

  vertical-align: baseline;
  line-height: 1.6em;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 1.1em;

  background-color: white;
  color: #272727;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-x {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

/* Nav */

/*
 * File for the nav bar design
 */

.main-menu {
  display: block;
  position: relative;

  width: 100%;
  height: 80px;
  line-height: 80px;

  background-color: #303030;
  color: #999999;
}

.menu-title {
  float: left;
  padding-left: 20px;
  font-size: 1.2em;
}

.menu-nav {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.menu-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  display: block;
  position: relative;
  padding: 0 20px;
}

.menu-link:hover {
  color: #4168BD;
  text-decoration: none;
}

.menu-link::after {
  position: absolute;
  content: '';

  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;

  background: #4168BD;
}

.menu-link:hover::after {
  height: 6px;
}

/* Forms */

.result {
  display: block;
  width: 50%;
  line-height: 40px;
  padding: 20px;
  margin: 20px auto;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  height: auto;
  margin: 20px auto;
  padding-bottom: 20px;

  border-radius: 5px;
  border: 1px solid #272727;
}

.form-title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;

  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #272727;
}

.form-title > h4 {
  display: block;
  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.form-left {
  display: block;
  width: 30%;

  text-align: left;
}

.form-right {
  display: block;
  width: 70%;

  text-align: right;
}

.information {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 0 10px;
  border: 1px solid #FF363E;
}

.information > p {
  color: #fff;
}

input[type="text"], input[type="mail"], input[type="password"], input[type="email"], input[type="number"] {
  width: 80%;
  height: 40px;
  margin: 10px auto;
  padding: 0px 10px;

  font-size: 1em;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

textarea {
  width: 80%;
  height: 160px;
  margin: 10px auto;
  padding: 10px;

  font-size: 1em;
  font-family: 'Open Sans', 'Montserrat', sans-serif;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  resize: none;
}

select {
  width: calc(80% + 22px);
  height: 42px;
  margin: 10px auto;
  padding: 0px 10px;

  font-size: 1em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

option {
  color: #272727;
}

input[type="submit"] {
  width: calc(100% + 24px);
  height: 44px;
  margin: 10px auto;

  font-size: 1em;
  background-color: #4168BD;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #314f8f;
}

button {
  width: 250px;
  height: 44px;
  margin: 30px auto;

  font-size: 1em;
  background-color: #4168BD;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.2);
}

button:disabled:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #314f8f;
}

/* Section */

/*
 * stylesheet for section design
 */
section {
  display: block;
  width: 100%;
  padding: 20px 0;

  text-align: center;
}

.section-title, .section-content {
  display: block;
  position: relative;

  padding: 20px 100px;
}

.section-title > h1 {
  display: inline;
  position: relative;
  font-size: 1.8em;

  letter-spacing: 2px;
}

.section-title > h1::after {
  position: absolute;
  content: '';

  top: auto;
  bottom: -7px;
  left: 0;
  right: 0;

  width: 60%;
  margin: auto;
  height: 1px;

  background: #272727;
}

.section-content > p {
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
}

/* Footer */

/*
 * Basic footer design
 */

footer {
  display: block;
  position: relative;
  width: 100%;

  background-color: #303030;
  color: white;
}

.footer-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.row-sections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 20px 100px;
}

.section > h4 {
  font-size: 1.2em;
  font-weight: 100;
  margin: 10px 0;

  text-transform: uppercase;
}

.section > a {
  display: inline;
  position: relative;
  font-size: 0.9em;
}
